{% stylesheets filter="cssrewrite"

    'vendor/jquery-file-upload/css/jquery.fileupload.css'
    'vendor/jquery-file-upload/css/jquery.fileupload-ui.css'
    output='css/adminTemplates.css'

%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

{% block javascripts %}
    <script>
        var documents = {{ documents|json_encode|raw }};
    </script>
    <script src="{{ asset('bundles/klarodocumentmanager/js/adminTemplates.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <h1>Manage output documents templates</h1>
    <p>Click the document name to see file history.</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="mainTable"></div>
        </div>
    </div>
    <!-- main table template -->
    <script type="text/template" id="mainTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Document name</th>
                    <th>Filename</th>
                    <th>Revision</th>
                    <th>Date update</th>
                    <th>Uploader</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%
                    var compiled = _.template($('script#row').html());
                    _.each(documents, function(document) {
                        print(compiled({document}));
                }); %>
            </tbody>
        </table>
    </script>
    <!-- main table row template -->
    <script type="text/template" id="row">
        <tr>
            <td><a href="#" class="show_history" data-groupid="<%= document.groupId %>"><strong><%= document.name %></strong></a></td>
            <td><%= document.filename %></td>
            <td><%= document.revision %></td>
            <td class="moment" data-date="<%= document.lastModified %>"><%= document.lastModified %></td>
            <td><%= document.author %></td>
            <td>
                <div class="btn-group" role="group" aria-label="actions">
                    <a href="?template_id=<%= document.template_id %>" class="btn btn-default">
                        <i class="icon-download-alt js-download-icon"></i> Download
                    </a>

                    <span class="btn btn-success fileinput-button js-upload-file-button">
                        <i class="icon-upload-alt js-upload-icon"></i>
                        <span>Upload new version</span>
                        <input data-groupid="<%= document.groupId %>" data-revision="<%= document.revision %>" class="fileupload" type="file" name="files[]">
                    </span>
                </div>
            </td>
        </tr>
    </script>
    <!-- modal table row template -->
    <script type="text/template" id="row-short">
        <tr>
            <td><%= document.filename %></td>
            <td class="moment"><%= document.lastModified %></td>
            <td><%= document.author %></td>
            <td>
                <div class="btn-group" role="group" aria-label="actions">
                    <a href="?template_id=<%= document.template_id %>" class="btn btn-default">
                        <i class="icon-download-alt js-download-icon"></i> Download
                    </a>
                </div>
            </td>
        </tr>
    </script>
    <script type="text/template" id="revisionListDialog">
        <div id="revisionListDialog" class="fade modal bs-example-modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title"><%= label %></h3>
                    </div>
                    <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                        <p>History for document. Click to start download.</p>
                        <table class="table table-striped responsive">
                            <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Date update</th>
                                <th>Uploader</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                                var compiled = _.template($('script#row-short').html());
                                _.each(documents, function(document) {
                                    print(compiled({document}));
                            }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock body %}
